<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{ titre }}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{{ h1|raw }}{{ dump(titre,h1) }}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
